.card-body
{
 
    @media (min-width: 544px) {  
      p {font-size:1.5rem;} 
    }
     
    @media (min-width: 768px) {  
      p {font-size:2rem;} 
    }
     
    @media (min-width: 992px) { 
      p {font-size:2.5rem;} 
    }
     
    @media (min-width: 1200px) {  
      p {font-size:3rem;}     
    }
     
}